body,
html {
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: 300%;
}

#footer {
    width: 100%;
    font-size: 2em;
}

h1 {
    font-size: 3em;
    padding: 3em 0;
    color: #FF026D;
    opacity: 0;
    -webkit-transform: translateX(-5em);
    transform: translateX(-5em);
    transition: transform 1s, opacity 1s;
    will-change: transform;
}

p {
    margin-bottom: 3em;
    text-indent: 3em;
    font-size: 1.3em;
}

.emphasis {
    color: #FF026D;
    font-weight: bolder;
    /* from stack-overflow example-code -- font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif; */
}


/* animations on the h1 elements */

.slide {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


/* for the navbar */

ul.dl-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dl-nav li {
    float: left;
}

.dl-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
}

.dl-nav li a:hover:not(.active) {
    background-color: #111;
}

.dl-nav .active {
    background-color: #FF026D;
}


/* for the footer */

ul.dl-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.dl-footer li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.5em;
}


/* for parallax images: */

.plain-img {
    min-height: 100%;
    background-image: url("../img/derek-lopez-plain.png");
}

.crazy-img {
    min-height: 100%;
    background-image: url("../img/derek-lopez-crazy.png");
}

.crazy-bg-img {
    min-height: 10%;
    background-image: url("../img/crazy-bg.png");
}

@media only screen and (max-width: 700px) {
    .plain-img {
        background-image: url("../img/derek-lopez-plain-small.png");
    }
    .crazy-img {
        background-image: url("../img/derek-lopez-crazy-small.png");
    }
}

@supports (-webkit-overflow-scrolling: touch) {
    /* disable paralax on iphones */
    .plain-img,
    .crazy-bg-img {
        display: none;
    }
    .crazy-img {
        background-image: url("../img/derek-lopez-crazy-small.png");
    }
}

@supports not (-webkit-overflow-scrolling: touch) {
    /* disable paralax on iphones */
    .plain-img,
    .crazy-img,
    .crazy-bg-img {
        background-attachment: fixed;
    }
}

.plain-img,
.crazy-img,
.crazy-bg-img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*for the different sections of the main page*/

.dl-sideline {
    background-color: #b3b3b3;
}

.row:nth-child(odd) .dl-sideline {
    background-color: #ddd;
}